<a href="/#/tickets/new" type="button" class="btn btn-primary btn-lg btn-block">
  New Ticket!
</a>


<!--
    List of tickets!
-->
<h1>
  My {{tickets.length}} Tickets
  <small>All tickets that are current assigned to and open</small>
</h1>
<div>
  <a href='#/tickets/{{ticket.key}}/view'
     ng-repeat="ticket in tickets"
     title="View & Edit {{ticket.key}} - {{ticket.fields.summary}}"
     >
    <div class="row ticket_row">

      <div class="col-xs-3 col-md-2 ticket_link">
        {{ticket.key}}
      </div>

      <div class="col-xs-9 col-md-9 ticket_summary">
        {{ticket.fields.summary}}
      </div>

      <div class="col-md-1 hidden-xs hidden-sm ticket_size ">
        {{ticket.fields.labels}}
      </div>
    </div>
  </a>
</div>

